.albums-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 1rem;
}

.albums-container * {
  outline: none;
}

.album-container {
  align-items: center;
  background-image:
    url(https://wallpapersmug.com/download/3840x2400/1787ca/fluid-art-dark-abstraction.jpg);
  background-position: 100%;
  border-radius: 0.5rem;
  color: white;
  display: flex;
  flex-flow: column;
  height: 14rem;
  justify-content: space-between;
  margin: 4rem 1rem;
  padding: 3rem 0.25rem;
  padding-bottom: 0;
  text-align: center;
  text-decoration: none;
  width: 12rem;
}

.album-container:hover {
  transition: 0.5s;
  background-color: #1c1b1e;
}

.album-image {
  transition: 0.5s;
  padding-bottom: 2rem;
}

.album-container:hover img {
  height: 6rem;
  transition: 0.5s;
  opacity: 75%;
  width: 6rem;
}


.album-link {
  background-color: #000000;
  padding: 0.15rem 0.25rem;
  width: 12rem;
}

.album-name {
  color: white;
  font-size: 0.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  margin: 0;
}

.album-description {
  background-color: #000000;
  border-top: 1px solid #1c1b1e81;
  padding: 0.15rem 0.25rem;
  width: 12rem;
}

.track-count {
  font-size: 0.6rem;
  margin: 0.5rem;
}

.release-date {
  color: #5a5a5a;
  font-size: 0.6rem;
  margin: 0.5rem;
}
